.env
users.txt
filter_words.txt
page.html
forms.txt
response.json
node_modules/
dist/
logs/
ai_workspace/
protos/
database_backups/
temp/
.vscode/
barniebot.runtime.json
.pm.pid
.pm.status.json

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

